@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

.site {
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  background: linear-gradient(to bottom, #F7F8FA, rgba(247,248,250,0.1));
  height: 100%;
}

.site__main {
  flex-grow: 7;
  align-self: stretch;
  flex-basis: 0;
  flex-direction: row;
}

.site__left-sidebar {
  position: fixed;
  background-color: #ccc;
  height: 100%;
  flex-basis: auto;
  flex-grow: 0;
  width: 170px;
  flex-wrap: wrap;
}

.site__content {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 170px;
}

.site__right-sidebar {
  background-color: #ccc;
  flex-direction: column;
  flex-grow: 3;
  align-self: stretch;
  flex-basis: 0;
}

.products {
  flex-wrap: wrap;
  flex-direction: row;
}
.product {
  width: 49%;
  height: 250px;
  padding: 5px 10px 10px;
}
.cart {
  flex-basis: 0;
  flex-grow: 1;
  overflow: scroll;
}
.cart-item {
  height: 150px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.3);
}

.checkout {
  height: 300px;
  background: rgba(0,0,255,0.3);
  flex-basis: auto;
  flex-grow: 0;
}
.cart__content {
  margin-top: 30px;
}
.cart__title {
  position: fixed;
}


